<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 *
 */
-->
<config>
    <modules>
        <Goat_StoreRating>
            <version>1.0.0</version>
        </Goat_StoreRating>
    </modules>
    <global>

    </global>
    <frontend>
        <routers>
            <storerating>
                <use>standard</use>
                <args>
                    <module>Goat_StoreRating</module>
                    <frontName>storerating</frontName>
                </args>
            </storerating>
        </routers>
        <layout>
            <updates>
                <vet module="Goat_StoreRating">
                    <file>storerating.xml</file>
                </vet>
            </updates>
        </layout>
    </frontend>
</config>
