<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 *
 */
-->
<config>
    <modules>
        <Goat_StoreRating>
            <version>1.0.0</version>
        </Goat_StoreRating>
    </modules>
    <global>
        <models>
            <storerating>
                <class>Goat_StoreRating_Model</class>
                <resourceModel>storerating_resource</resourceModel>
            </storerating>
            <storerating_resource>
                <class>Goat_StoreRating_Model_Resource</class>
                <entities>
                    <rating>
                        <table>storerating_rating</table>
                    </rating>
                </entities>
            </storerating_resource>
        </models>
        <resources>
            <storerating_setup>
                <setup>
                    <module>Goat_StoreRating</module>
                </setup>
            </storerating_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <storerating>
                <use>standard</use>
                <args>
                    <module>Goat_StoreRating</module>
                    <frontName>storerating</frontName>
                </args>
            </storerating>
        </routers>
        <layout>
            <updates>
                <vet module="Goat_StoreRating">
                    <file>storerating.xml</file>
                </vet>
            </updates>
        </layout>
    </frontend>
</config>
