.rating {
  overflow: hidden;
  display: inline-block;
}

.rating-input {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -16px;
  opacity: 0;
}

.rating-star {
  position: relative;
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: url('../../images/storerating/star.png') 0 -16px;
  cursor: pointer;
}


.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-position: 0 0;
}

.rating-average {
  width: 224px;
  position: relative;
  color: gray;
  font-size: 50px;
}
.rating-average::before { 
  content: "★★★★★" 
}


.rating-fill-active {
  font-size: 50px;
  color: orange;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.rating-fill-active::before { 
  content: "★★★★★" 
}
